html,
body {
  height: 100%;
}
div#map {
  height: 100%;
}
div.modal div.modal-header,
div.modal div.modal-footer {
  background-color: #f8f9fa;
  padding: 10px;
}
div.modal i {
  padding-right: 5px;
}
.grid-corner-icon {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
}
.cursor-nesw-resize {
  cursor: nesw-resize;
}
.cursor-nwse-resize {
  cursor: nwse-resize;
}
.tooltip-grid {
  padding: 0px;
  border: none;
}
.tooltip-grid table {
  border-collapse: collapse;
  width: 100%;
}
.tooltip-grid table > thead > tr > th,
.tooltip-grid table > tbody > tr > td {
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  white-space: nowrap;
}
.tooltip-grid table > tbody > tr > td:nth-child(1) {
  font-weight: bold;
}
.tooltip-grid table > thead > tr {
  background-color: #6c757d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  font-weight: bold;
}
.tooltip-grid table > tbody > tr {
  color: black;
  font-weight: normal;
}
.tooltip-grid table > tbody > tr {
  border-bottom: 1px solid #f5f5f5;
}
.tooltip-grid table > tbody > tr:nth-last-child(1) {
  border-bottom: none;
}
.tooltip-grid table > tbody > tr > td:nth-child(1) {
  border-right: 1px solid #f5f5f5;
}
div#wps-save-dialog textarea {
  height: 70vh;
  font-family: 'Courier New';
  font-size: small;
}
div#geog-data-res-dialog div.modal-footer {
  font-size: 14px;
}
div#geog-data-res-dialog div.modal-footer a,
div#geog-data-res-dialog div.modal-footer i {
  color: #383d41;
}
div#geog-data-res-dialog table.geog-categories {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 11px;
}
div#geog-data-res-dialog table.geog-categories > thead > tr > th {
  font-weight: bold;
  background-color: white;
  border-top: 1px solid #ced4da;
  padding: 2px 4px;
}
div#geog-data-res-dialog table.geog-categories > thead > tr > th:first-child {
  border-left: 1px solid #ced4da;
  border-top-left-radius: 0.2rem;
}
div#geog-data-res-dialog table.geog-categories > thead > tr > th:last-child {
  border-right: 1px solid #ced4da;
  border-top-right-radius: 0.2rem;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr > td {
  background: #e9ecef;
  padding: 2px 4px;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr > td:first-child {
  border-left: 1px solid #ced4da;
  width: 100px;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr > td > select {
  width: 100%;
  border-radius: 0.2rem;
  line-height: 1;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr > td:last-child {
  width: 150px;
  border-right: 1px solid #ced4da;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr:last-child > td {
  border-bottom: 1px solid #ced4da;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 0.2rem;
}
div#geog-data-res-dialog table.geog-categories > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 0.2rem;
}
.leaflet-control-coordinates {
  background: rgba(255, 255, 255, 0.7);
  width: 100px;
}
.leaflet-control-coordinates div {
  margin-left: 5px;
}
.leaflet-control-coordinates div span {
  width: 30px;
  font-weight: bold;
  display: inline-block;
}
.leaflet-control-downloaded-elevation-data {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  padding-top: 20px;
}
.leaflet-control-downloaded-elevation-data div {
  max-height: 200px;
  overflow-y: auto;
}
.leaflet-control-downloaded-elevation-data div a {
  display: block;
  width: initial !important;
  height: initial !important;
}
.popup-elevation-data {
  text-align: center;
}
.popup-elevation-data a {
  color: #6c757d;
}
.popup-elevation-data table {
  margin-bottom: 5px;
}
.popup-elevation-data table tr td {
  text-align: left;
  word-break: break-all;
}
.popup-elevation-data table tr td:first-child {
  text-align: right;
  font-weight: bold;
  vertical-align: top;
  word-break: normal;
}
.sidebar {
  z-index: 1000;
}
.sidebar-header {
  background-color: #004085;
}
.sidebar.collapsed {
  width: 44px;
}
div.sidebar-content {
  background-color: #f8f9fa;
}
div.sidebar-pane {
  padding: 10px 10px;
}
div.sidebar-pane div.sidebar-pane-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  text-align: end;
}
div.sidebar-pane button.btn {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    min-width: 261px;
  }
  div.sidebar-pane-bottom {
    min-width: 241px;
  }
  div.sidebar-pane-bottom button i {
    padding-right: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-pane {
    min-width: 346px;
  }
  div.sidebar-pane-bottom {
    min-width: 326px;
  }
}
@media (min-width: 1200px) {
  .sidebar-pane {
    min-width: 416px;
  }
  div.sidebar-pane-bottom {
    min-width: 396px;
  }
}
div.sidebar-pane#elevation-data div.elevation-data-overlays {
  position: absolute;
  bottom: 50px;
  top: 50px;
  left: 10px;
  right: 0px;
  overflow-y: auto;
  padding-left: 10px;
}
div.sidebar-pane#wps form span.all-domains {
  width: 119px;
}
div.sidebar-pane#wps form span.all-domains-2 {
  width: 60px;
}
div.sidebar-pane#wps form span[data-name="geog_data_res"] {
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #e9ecef;
}
div.sidebar-pane#wps form div.invalid-feedback {
  margin-top: 2px;
  margin-bottom: 2px;
}
div.sidebar-pane#wps form div.invalid-feedback p {
  margin-bottom: 2px;
}
div.sidebar-pane#wps div.wps-top-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
}
div.sidebar-pane#wps div.wps-top-buttons button i {
  padding-right: 5px;
}
div.sidebar-pane#wps div#grids {
  overflow-y: auto;
}
div.sidebar-pane#wps div#grids i.fa-vector-square {
  color: #dc3545;
}
div.sidebar-pane#wps div.input-group {
  margin-bottom: -1px;
}
div.sidebar-pane#wps .input-group-append button.btn-light {
  border-color: #ced4da;
}
div.sidebar-pane#wps .form-control.is-valid,
div.sidebar-pane#wps .was-validated .form-control:valid {
  border-color: #ced4da;
  background-image: none;
  padding-right: 8px;
}
div.sidebar-pane#wps .form-control.is-invalid,
div.sidebar-pane#wps .was-validated .form-control:invalid {
  border-color: #ced4da;
  background-image: none;
  padding-right: 8px;
}
div.sidebar-pane#wps .was-validated .form-control:valid:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
div.sidebar-pane#wps .form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
div.sidebar-pane#wps input:invalid {
  background-color: #ff8080;
}
div.sidebar-pane#wps table.table-grid-corners {
  width: 100%;
  border: 1px solid #ced4da;
  border-collapse: separate;
  border-left: 0;
  border-spacing: 0px;
  font-size: 14px;
  color: #495057;
}
div.sidebar-pane#wps table.table-grid-corners thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}
div.sidebar-pane#wps table.table-grid-corners thead tr th:nth-child(2),
div.sidebar-pane#wps table.table-grid-corners thead tr th:nth-child(3) {
  font-weight: bold;
  text-align: center;
}
div.sidebar-pane#wps table.table-grid-corners tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
div.sidebar-pane#wps table.table-grid-corners tr td:first-child,
div.sidebar-pane#wps table.table-grid-corners tr th:first-child {
  width: 139px;
}
div.sidebar-pane#wps table.table-grid-corners tbody tr:nth-child(1) > td:first-child,
div.sidebar-pane#wps table.table-grid-corners tbody tr:nth-child(2) > td:first-child {
  text-align: right;
  font-weight: bold;
}
div.sidebar-pane#wps table.table-grid-corners tbody tr td:nth-child(2),
div.sidebar-pane#wps table.table-grid-corners tbody tr td:nth-child(3) {
  background-color: #f8f9fa;
}
div.sidebar-pane#wps table.table-grid-corners th,
div.sidebar-pane#wps table.table-grid-corners td {
  padding: 0.25rem 0.5rem;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #ced4da;
  background-color: #e9ecef;
  font-weight: normal;
}
div.sidebar-pane#wps table.table-grid-corners td {
  border-top: 1px solid #ced4da;
}
div.sidebar-pane#wps table.table-grid-corners tbody td:first-child {
  border-top: none;
}
div.sidebar-pane#wps table.table-grid-corners thead th:nth-child(2),
div.sidebar-pane#wps table.table-grid-corners thead th:nth-child(3) {
  border-left: none;
}
div.sidebar-pane#wps div#grids-header {
  margin-top: 5px;
}
div.sidebar-pane#wps div#grids-header h5 {
  margin-bottom: 2px;
}
div.sidebar-pane#wps div#grids-header button {
  padding: 2px 6px;
}
div.sidebar-pane#wps div.container-grid {
  margin-bottom: 2px;
}
div.sidebar-pane#wps div.container-grid div.grid-header label {
  margin-bottom: 2px;
}
div.sidebar-pane#wps div.container-grid div.grid-header button {
  padding: 2px 6px;
}
.leaflet-container.cursor-crosshair {
  cursor: crosshair;
}
.leaflet-gridLines-pane {
  z-index: 210;
}