@font-size-sm: .875rem;

html, body {
    height: 100%;
}

div#map {
    height: 100%;
}

div.modal {
    div.modal-header, div.modal-footer {
        background-color: #f8f9fa;
        padding: 10px;
    }
}

div#wps-save-dialog {
    textarea {
        height: 70vh;
    }
}

.font-namelist {
    font-family: 'Courier New';
    font-size: small;
}

.resize-none {
    resize: none;
}

@import "leaflet.control.mouse-coordinates.less";
@import "leaflet.control.downloaded-elevation-data.less";
@import "leaflet.elevation-data.less";
@import "leaflet.wrf-grid.less";
@import "wrf-domain-wizard.loaders.less";
@import "wrf-domain-wizard.switch.less";
@import "wrf-domain-wizard.sidebar.less";
@import "wrf-domain-wizard.dialog.less";
@import "wrf-domain-wizard.dialog.geog-data-res.less";
@import "wrf-domain-wizard.dialog.message-box.less";
@import "wrf-domain-wizard.editor.namelist-input.less";
@import "wrf-domain-wizard.dialog.namelist-input.less";
@import "leaflet.map.less";
@import "leaflet.layer.graticule.less";
